In [8]:
## Taske 1 
## Create one variable containing type of data 
a = 12
b = [1,2,3,4,"Swapnil", 12.3425,2+4j]
c = 36.2376587
d = (1,4,5,8,13,56)

print("a =", type(a),
      "b =", type(b),
      "c =", type(c),
      "d =", type(d))

a = <class 'int'> b = <class 'list'> c = <class 'float'> d = <class 'tuple'>

In [16]:
## Task 2 
## Q2. Given are some following variables containing data:
## (i) var1 = ‘ ‘  -> string 
## (ii) var2 = ‘[ DS , ML , Python]’ -> String
## (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] = Invalid syntax 
## (iv) var4 = 1  -> Integer

In [29]:
## Task 3 (Q3. Explain the use of the following operators using an example:)
## (i) / , (ii) %, (iii) //, (iv) **

a = 13/2
b = 45%4
c = 40//9
d = 34**3

print(a,b,c,d)

## / -> Divison and provide the float number 
## % -> Division and provid the remainder 
## // -> divison and provide the int form of divisor 
## ** -> Exponentiation operation

6.5 1 4 39304

In [31]:
## Q4) Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
list_1 = [1,2,3,4,"Swapnil", 12.3425,2+4j, True, [1,2,3], ("1","Swa")]

for i in list_1:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
Swapnil <class 'str'>
12.3425 <class 'float'>
(2+4j) <class 'complex'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
('1', 'Swa') <class 'tuple'>

In [36]:
## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

A = 155
B = 5
count = 0

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print("A is purely divisible by B.")
    print("A can be divided by B", count, "times.")
else:
    print("A is not purely divisible by B.")

A is purely divisible by B.
A can be divided by B 1 times.

In [53]:
##Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

L_1 = [90, 2, 26, 48, 78, 58, 58, 89, 66, 52, 18, 26, 93, 3, 30, 84, 85, 38, 55, 16, 94, 96, 60, 87, 88]

for i in L_1:
    if i%3 == 0:
        print(i, "Yes It is divisible by 3")
    else:
        print(i, "No it is not divisible")

90 Yes It is divisible by 3
2 No it is not divisible
26 No it is not divisible
48 Yes It is divisible by 3
78 Yes It is divisible by 3
58 No it is not divisible
58 No it is not divisible
89 No it is not divisible
66 Yes It is divisible by 3
52 No it is not divisible
18 Yes It is divisible by 3
26 No it is not divisible
93 Yes It is divisible by 3
3 Yes It is divisible by 3
30 Yes It is divisible by 3
84 Yes It is divisible by 3
85 No it is not divisible
38 No it is not divisible
55 No it is not divisible
16 No it is not divisible
94 No it is not divisible
96 Yes It is divisible by 3
60 Yes It is divisible by 3
87 Yes It is divisible by 3
88 No it is not divisible

In [13]:
## What do you understand about mutable and immutable data types? Give examples for both showing this property.

## In Mutable data type as mentioned below the data set can be changeable 

var1 = [1,2,3,4]
var1[0]

var1[0] = 45
print(var1[0])


## but in inmutable data set this can not be done for example :: 
var2 =(2,3,4,5,'swapnil', 23.455)
var2[2]

var2[2] = 45

## as we try to change the value of var2 data set the system will generate the error

45

TypeError: 'tuple' object does not support item assignment